{{ define "main" }}

<main>
   
    <h1>{{.Title}}</h1>
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{.Content}}


    {{ range .Pages }}

    <article>
        <div class="post-title">
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <small>{{ .Date.Format "Jan 2 2006" }}</small>
        </div>

        <div class="post-content">
            {{ .Content }}
        </div>

    </article>
    {{ end }}
</main>

{{ end }}