{{ define "main" }}
<main>

    <h1>{{.Title}}</h1>
    {{.Content}}

    {{ range sort .Pages "Date" "asc" }}
    <article>
        <div class="post-title">
            <h1>{{ .Title }}</h1>
        </div>

        <div class="post-content">

            {{ .Content }}
            {{ if .Params.image }}
            {{ $imagename := .Params.image }}
            {{- $original := resources.Get $imagename -}}

            <a href="{{ .Permalink }}">
                <figure>
                    {{ if gt $original.Width 860 }}
                    {{ with ($original.Resize "860x") }}
                    <img src="{{ .RelPermalink }}">
                    {{ end }}
                    {{ else }}
                    <img src="{{ $original.RelPermalink }}">
                    {{ end }}

                </figure>
            </a>
        </div>
        {{ end }}
    </article>
    {{ end }}
</main>

{{ end }}