<div class="terminal-card">
    <figure>
        <img src="/img/jase.jpg">
        <figcaption>Jason Magee</figcaption>
    </figure>
    <p>Developer at <a href="https://cortex.gg">Cortex</a>, founder of
        <a href="https://data.gg">data.gg</a> and aspiring game dev at
        <a href="https://granitegames.gg">Granite Games</a>.
    </p>

    <ul>
        <li><a href="https://twitter.com/jasemagee">Twitter</a></li>
        <li><a href="www.linkedin.com/in/jasonmagee">LinkedIn</a></li>
    </ul>
</div>