<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    {{ if .Page.Title }}
    <title>{{ .Site.Title }} - {{ .Page.Title }}</title>
    {{ else }}
    <title>{{ .Site.Title }}</title>
    {{ end }}

    {{ $normalize := resources.Get "css/normalize.css" }}
    {{ $terminal := resources.Get "css/terminal.min.css" }}
    {{ $code := resources.Get "css/code.css" }}
    {{ $style := resources.Get "css/style.css" }}

    {{ $CSS := slice $normalize $terminal $code $style | resources.Concat "main.css" }}
    <link rel="stylesheet" href="{{ $CSS.RelPermalink }}" media="all">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

    <script defer data-domain="jasemagee.com" src="https://plausible.io/js/plausible.js"></script>

</head>