<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    {{ if .Page.Title }}
    <title>{{ .Site.Title }} - {{ .Page.Title }}</title>
    <meta property="og:title" content="{{ .Site.Title }} - {{ .Page.Title }}">
    <meta name="twitter:title" content="{{ .Site.Title }} - {{ .Page.Title }}">
    {{ else }}
    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta name="twitter:title" content="{{ .Site.Title }}">
    {{ end }}

    {{ if .Page.Params.desc }}
    <meta name="description" content="{{ .Site.Params.desc }} - {{ .Page.Params.desc }}">
    <meta property="og:description" content="{{ .Site.Params.desc }} - {{ .Page.Params.desc }}">
    <meta name="twitter:description" content="{{ .Site.Params.desc }} - {{ .Page.Params.desc }}">
    {{ else }}
    <meta name="description" content="{{ .Site.Params.desc }}">
    <meta property="og:description" content="{{ .Site.Params.desc }}">
    <meta name="twitter:description" content="{{ .Site.Params.desc }}">
    {{ end }}

    {{ if .Page.Params.img }}
    <meta property="og:image" content="{{ .Page.Params.img }}">
    <meta name="twitter:image" content="{{ .Page.Params.img }}">
    {{ else }}
    <meta property="og:image" content="{{ .Site.Params.img }}">
    <meta name="twitter:image" content="{{ .Site.Params.img }}">
    {{ end }}

    <meta property="og:url" content="{{ .Permalink }}">
    <meta name="twitter:card" content="summary">
    

    {{ $normalize := resources.Get "css/normalize.css" }}
    {{ $terminal := resources.Get "css/terminal.min.css" }}
    {{ $code := resources.Get "css/code.css" }}
    {{ $style := resources.Get "css/style.css" }}

    {{ $CSS := slice $normalize $terminal $code $style | resources.Concat "main.css" }}
    <link rel="stylesheet" href="{{ $CSS.RelPermalink }}" media="all">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

    <script defer data-domain="jasemagee.com" src="https://plausible.io/js/plausible.js"></script>

</head>